* {

  background-color: #5B5959;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #E22B00;
  text-align: center;
}


tr {
  border-style: solid;
  border-width: 1px;
}

td {
  border-style: solid;
  border-width: 1px;
}

h2 {
  color: #B47C6F;
}

p {
  color: #FFE0D9;
}

#table {
  color: #FFE0D9;
  border: solid;
}

#userForm {
  margin-top: 25px;
  color: #FFE0D9;
}


#headImg {
  margin-left: 30%
}

.headImg {
  margin-left: 30%;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 2% 35%;
  text-decoration: none;
}
